<html>
  <head> </head>
  <body>
    <header>
      <button class="logout-btn" (click)="logout()">Log out</button>
    </header>
    <div class="container">
      <br />
      <br />
      <h1>Qual é o seu destino?</h1>
      <!-- Formulário de Pesquisa -->
      <div class="search-container">
        <div>
          <label for="city">Cidade:</label>
          <input
            id="city"
            [(ngModel)]="city"
            placeholder="Digite a cidade"
            required
          />
        </div>
        <div>
          <label for="country">País:</label>
          <input
            id="country"
            [(ngModel)]="country"
            placeholder="Digite o país"
            required
          />
        </div>
        <div>
          <label for="date">Data:</label>
          <input id="date" type="date" [(ngModel)]="date" required />
        </div>
        <button class="search-btn" type="submit" (click)="search()">
          Pesquisar
        </button>
      </div>

      <!-- Resultados -->
      <div *ngIf="data?.length > 0" class="results-container">
        <h2>Results</h2>
        <div class="tempo" *ngIf="weather?.description">
          <p>Weather: {{ weather.description }}</p>
          <!-- <p>Temperatura: {{ weather.temperature }}°C</p> -->
        </div>
        <ul>
          <li *ngFor="let result of data; let i = index" class="result-item">
            <div class="result-info">
              <h3>{{ result.name }}</h3>
              <p>{{ result.location.formatted_address }}</p>
            </div>
          </li>
        </ul>
      </div>
      <footer></footer>
    </div>
  </body>
</html>
